<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Maxime BOCHON">
    <title>Accords calculés</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Murecho:wght@200;400;600;900&display=swap');
        body {
            margin: 0;
            padding: 3em;
            font-family: 'Murecho', sans-serif;
            background-color: hsl(0, 0%, 97%);
        }
        h1 {
            margin: 0;
            padding: 0;
            padding-left: 1rem;
            padding-bottom: .5rem;
            font-weight: 200;
            letter-spacing: .1rem;
        }
        table, tr, th, td {
            border-collapse: collapse;
            border-width: 1px;
            border-color: black;
            border-style: solid;
        }
        th, td {
            text-align: center;
            padding: .5rem 1.2rem;
        }
        th {
            background-color: white;
            font-weight: 900;
        }
        tr td:first-child {
            font-weight: 600;
        }
        tr td {
            background-color: lightgreen;
        }
        td > span {
            letter-spacing: .2em;
        }
        sup {
            font-size: 1rem;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        li {
            display: inline;
        }
        li + li {
            margin-left: 1em;
        }
    </style>
</head>
<body>
<h1>Accords calculés :</h1>
<table>
    <thead>
    <tr>
        <th>Accord</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    {{#accords}}
    <tr>
        <td>
            {{tonique.heptacorde}}<sup>{{tonique.altération.symbole}}</sup>
            <span>
                {{#nature.exposant}}<sup>{{/nature.exposant}}
                {{nature.suffixe}}
                {{#nature.exposant}}</sup>{{/nature.exposant}}
            </span>
        </td>
        <td>
            <ul>{{#notes}}<li>{{.}}</li>{{/notes}}</ul>
        </td>
    </tr>
    {{/accords}}
    </tbody>
</table>
</body>
</html>
